header {
  h1 {
    display: inline-block;
    font-size: 32px;
    font-size: 3.2rem;
    font-weight: bold;
    margin-right: 10px;
    margin-right: 1rem;
  }

  .headline {
    color: #777;
    display: inline-block;
    font-size: 14px;
    font-size: 1.4rem;
  }
}
